{% extends 'base.html.twig' %}



{% block body %}
    <div class="row">
        {{ form_start(form) }}

        <div class="col-md-12 col-sm-12 col-xs-12">
            {{ form_row((form.name)) }}
        </div>

        {{ form_widget(form.brewingCartography) }}
        {{ form_widget(form.submit, {'attr': {'class': 'btn-success'}}) }}

        {{ form_end(form) }}
    </div>
{% endblock %}